[Unit]
Description=dunst - A customizable and lightweight notification-daemon
Documentation=https://github.com/dunst-project/dunst
BindsTo=sway-session.target

[Service]
Type=simple
# In some of my environments, dunst has to be installed manually
ExecStart=/bin/bash -c 'PATH=~/.local/bin:$PATH dunst'
Restart=on-failure

[Install]
WantedBy=sway-session.target
