[Unit]
Description=dunst - A customizable and lightweight notification-daemon
Documentation=https://github.com/dunst-project/dunst
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'dunst'
Restart=on-failure

[Install]
WantedBy=sway-session.target
