[Unit]
Description=Stop local containers if nvim is not running.

[Timer]
OnBootSec=30sec
OnUnitActiveSec=10sec
Unit=stop-unneeded-vim-containers.service

[Install]
WantedBy=sway-session.target
