[Unit]
Description=Stop local llama if nvim is not running.

[Service]
Type=oneshot
ExecStart=-/bin/bash -c 'PATH=~/.dotfiles/.local/bin:$PATH stop-unneeded-llama'
