[Unit]
Description=udiskie - automatically mount external drives
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'udiskie'
Restart=on-failure

[Install]
WantedBy=sway-session.target
