{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

# Track changes across all systemd units and presets:
{{- range glob (joinPath .chezmoi.sourceDir "dot_config/systemd/{user,user-preset}/*") }}
# {{ base . }}: {{ include . | sha256sum }}
{{- end }}

if command -v systemctl >/dev/null 2>&1; then
  systemctl --user daemon-reload || true
  systemctl --user preset-all || true
fi
{{ end -}}
