{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

# Systemd user units hash:
# {{ include "dot_config/systemd/user/dunst.service" | sha256sum }}
# {{ include "dot_config/systemd/user/kanshi.service" | sha256sum }}
# {{ include "dot_config/systemd/user/swayidle.service" | sha256sum }}
# {{ include "dot_config/systemd/user/sway-alternate-layouts.service" | sha256sum }}
# {{ include "dot_config/systemd/user/udiskie.service" | sha256sum }}
# {{ include "dot_config/systemd/user/xsettingsd.service" | sha256sum }}
# {{ include "dot_config/systemd/user/stop-unneeded-vim-containers.timer" | sha256sum }}
# {{ include "dot_config/systemd/user/stop-unneeded-vim-containers.service" | sha256sum }}
# {{ include "dot_config/systemd/user/tpm-fido.service" | sha256sum }}

if command -v systemctl >/dev/null 2>&1; then
  systemctl --user daemon-reload || true

  systemctl --user enable \
    dunst.service \
    kanshi.service \
    swayidle.service \
    sway-alternate-layouts.service \
    udiskie.service \
    xsettingsd.service \
    stop-unneeded-vim-containers.timer \
    tpm-fido.service || true
fi
{{ end -}}
