#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "linux" -}}
if command -v apt-get >/dev/null 2>&1; then
  apt_packages=(
    {{- range .packages.apt.packages }}
    {{ . | quote }}
    {{- end }}
  )
  echo "I have to elevate permissions for the system-wide installation of packages with apt."
  sudo apt-get install -y "${apt_packages[@]}"
else
  echo "You are running a linux distribution with unsupported package management. Please make sure to install the system dependencies yourself."
fi
{{ else if eq .chezmoi.os "darwin" -}}
brew install ripgrep
{{ end -}}

# Install Rust via rustup
if ! command -v rustup >/dev/null 2>&1 && [ ! -x "$HOME/.cargo/bin/rustup" ]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi
