{{- $environment := env "CHEZMOI_ENV" -}}
{{- if not $environment -}}
{{-   $environment = promptChoiceOnce . "environment" "Select environment" (list "home" "work") "home" -}}
{{- end -}}

[data]
    environment = {{ $environment | quote }}
