# vim: set ft=ini:
[mergetool]
  keepBackup = false
[mergetool "diffview-merge"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[difftool "diffview"]
  cmd = nvim -n -c "DiffviewOpen"
[merge]
  tool = diffview-merge
[diff]
  tool = diffview
  submodule = diff
  colorMoved = default
[diff "lfs"]
  textconv = cat
[alias]
  nicelog = log --graph --decorate=full --all --oneline
  do-recursive = "!sh -c \"git ${*} ||:; git submodule foreach --recursive 'git ${*} ||:'\" -"
  find-dangling = "!sh -c 'git fsck --lost-found | grep \"^dangling commit\" | sed \"s/^dangling commit //g\" | xargs git show -s --oneline'"
  open = "!f() { open $(git config remote.${1:-origin}.url | sed -E 's/:([^\\/])/\\/\\1/g' | sed -e 's/ssh:\\/\\///g' | sed -e 's/git@/https:\\/\\//g' | sed -e 's/\\.git$//g'); }; f"
[push]
  default = current
[gui]
  fontui = -family \"DejaVu Sans\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"DejaVu Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[color]
  ui = auto
[credential]
  helper = libsecret
[status]
  submoduleSummary = true
[pull]
  rebase = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  true-color = always
[core]
  excludesfile = ~/.gitignore_global
  pager = delta
[protocol "file"]
  allow = always
[include]
  path = ~/.gitconfig.local
[includeIf "gitdir:~/.dotfiles"]
  path = ~/.dotfiles/.gitconfig.github
[includeIf "gitdir:~/workspace/*"]
  path = ~/.dotfiles/.gitconfig.github
[includeIf "gitdir:~/go/*"]
  path = ~/.dotfiles/.gitconfig.github
[includeIf "gitdir:~/.local/share/nvim/*"]
  path = ~/.dotfiles/.gitconfig.github
