[user]
	email = dominik.gierlach@gmail.com
	name = Dominik Gierlach
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[alias]
	nicelog = log --graph --decorate=full --all --oneline
[diff]
	tool = vimdiff
[push]
	default = simple
