[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "pyenv-plugins/pyenv-virtualenv"]
	path = pyenv-plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-plugins/fzf-tab"]
	path = zsh-plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh-plugins/zsh-completions"]
	path = zsh-plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "workspace/guix"]
	path = workspace/guix
	url = https://git.savannah.gnu.org/git/guix.git
[submodule "zsh-plugins/git-fuzzy"]
	path = zsh-plugins/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule "zsh-plugins/nix-zsh-completions"]
	path = zsh-plugins/nix-zsh-completions
	url = https://github.com/spwhitt/nix-zsh-completions.git
