#!/bin/sh
# WARNING! This file should not be executed directly.
# Shebang here is for shellcheck.
#
# WARNING! This file should only contain
# POSIX-compliant commands and directives.
# Providing, for example, bash-specific commands will result
# in X server crash.

if test -z "$DBUS_SESSION_BUS_ADDRESS"; then
  eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
