profile default {
    output eDP-1 enable
}

profile dual {
    output eDP-1 enable position 2560,360
    output DP-1 enable position 0,0
}

profile dual-2 {
    output eDP-1 enable position 1920,0
    output HDMI-A-1 enable position 0,0
}

profile man-dual {
    output DP-1 enable position 0,0 mode 2560x1440
    output DP-2 enable position 2560,0 mode 2560x1440
    output eDP-1 enable position 5120,360 mode 1920x1200
}
