profile default {
    output eDP-1 enable
}

profile dual {
    output eDP-1 enable position 2560,360
    output DP-1 enable position 0,0
}

profile man-dual {
    output eDP-1 enable position 0,360 mode 1920x1080
    output DP-1 enable position 1920,0 mode 2560x1440
    output DP-2 enable position 4480,0 mode 2560x1440
}
