[Desktop Entry]
Name=i3-dbus
Comment=improved dynamic tiling window manager
Exec=dbus-launch --sh-syntax --exit-with-session i3
TryExec=dbus-launch --sh-syntax --exit-with-session i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
